{% extends "base.html" %} {% block content %}
<a href="{{ get_url(path='@/_index.md') }}">Sommaire</a>
<nav>
    {% if page.lower %}
    <a class="nav__previous" href="{{ page.lower.permalink }}"
        >‹ {{ page.lower.title }}</a
    >
    {% else %} ------------- {% endif %} {{ page.title }} {% if page.higher %}
    <a class="nav__next" href="{{ page.higher.permalink }}"
        >{{ page.higher.title }} ›</a
    >
    {% else %} ------------- {% endif %}
</nav>
<h1 class="title">{{ page.title }}</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }} {% if page.lower or page.higher %}
<nav>
    {% if page.lower %}
    <a class="nav__previous" href="{{ page.lower.permalink }}"
        >‹ {{ page.lower.title }}</a
    >
    {% else %} ------------- {% endif %} {{ page.title }} {% if page.higher %}
    <a class="nav__next" href="{{ page.higher.permalink }}"
        >{{ page.higher.title }} ›</a
    >
    {% else %} ------------- {% endif %}
</nav>
<a href="{{ get_url(path='@/_index.md') }}">Sommaire</a>

{% endif %} {% endblock content %}
